<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StayPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/stay.css}" rel="stylesheet">
</head>
<body>
<header>
    <a href="/"><img class="logo" src="/images/Logo.png" alt="Logo Image" /></a>
    <nav>
        <ul>
            <li class="main_list"><a class="main" href="/">여행지 추천</a></li>
            <li class="main_list dropdown">
                <a class="main" href="#">여행 정보</a>
                <div class="dropdown-content">
                    <a th:href="@{/stays}">숙소</a>
                    <a th:href="@{/eaterys}">음식점 & 카페</a>
                    <a th:href="@{/attractions}">관광 명소</a>
                </div>
            </li>
            <li class="main_list"><a class="main" href="/boards">메인게시판</a></li>

            <li class="main_list"><a class="main" href="/" th:if="${#authorization.expression('hasRole(''USER'')')}">마이페이지</a></li>
            <li class="main_list"><a class="main" href="admin" th:href="@{/admin}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                관리자페이지
            </a></li>
            <a class="main" href="/members/login" th:href="@{/members/login}" th:if="${#authorization.expression('isAnonymous()')}">
                로그인
            </a>
            <a class="main" href="/members/logout" th:href="@{/members/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
                로그아웃
            </a>
        </ul>
    </nav>
    <hr>
</header>
<div class="search-container">
    <input type="text" name="title" placeholder="검색">
    <button type="submit">Search</button>
</div>

<!--<form th:action="@{/stays/category}" method="get">-->
<!--    <select name="address">-->
<!--        <option value="서울">서울</option>-->
<!--        <option value="경기">경기</option>-->
<!--        <option value="부산">부산</option>-->
<!--        <option value="강원">강원</option>-->
<!--    </select>-->

<!--    <select name="category">-->
<!--        <option value="호텔">호텔</option>-->
<!--        <option value="펜션">펜션</option>-->
<!--        <option value="게스트하우스">게스트하우스</option>-->
<!--        <option value="호텔">기타</option>-->
<!--    </select>-->

<!--    <button type="submit">검색</button>-->
<!--</form>-->
<div class="search_content">
        <ul class="panel">
                <form th:action="@{/stays/category}" method="get">
            <li class="searchPanel">
                    <p>여행지역</p>
                    <select name="address">
                        <option value="지역" >--지역--</option>
                        <option value="서울" th:selected="${param.address == '서울'}">서울</option>
                        <option value="경기" th:selected="${param.address == '경기'}">경기</option>
                        <option value="인천" th:selected="${param.address == '인천'}">인천</option>
                        <option value="부산" th:selected="${param.address == '부산'}">부산</option>
                        <option value="강원" th:selected="${param.address == '강원'}">강원</option>
                        <option value="대전" th:selected="${param.address == '대전'}">대전</option>
                        <option value="경북" th:selected="${param.address == '경북'}">경북</option>
                        <option value="경남" th:selected="${param.address == '경남'}">경남</option>
                        <option value="인천" th:selected="${param.address == '인천'}">전남</option>
                        <option value="인천" th:selected="${param.address == '인천'}">전북</option>
                        <option value="제주" th:selected="${param.address == '제주'}">제주</option>
                    </select>
            </li>
                    <li class="searchPanel">
                    <p>숙소유형</p>
                    <select name="category">
                        <option value="숙소유형" >숙소유형</option>
                        <option value="호텔" th:selected="${param.category == '호텔'}">호텔</option>
                        <option value="펜션" th:selected="${param.category == '펜션'}">펜션</option>
                        <option value="게스트하우스" th:selected="${param.category == '게스트하우스'}">게스트하우스</option>
                        <option value="기타" th:selected="${param.category == '기타'}">기타</option>
                    </select>
                    </li>
<!--                    <li class="searchPanel">-->
<!--                        <p>숙박일</p>-->
<!--                        <label >-->
<!--                            <input type="date" id="date1" max="2030-06-20" min="2023-01-01" value="2023-11-21">~-->
<!--                            <input type="date" id="date2" max="2030-06-20" min="2023-01-01" value="2023-11-21">~-->
<!--                        </label>-->
<!--                    </li>-->
<!--                    <li class="searchPanel">-->
<!--                        <p>인원</p>-->
<!--                        <form>-->
<!--                            <select name="person">-->
<!--                                <option value="none" selected>== 인원 ==</option>-->
<!--                                <option value="two">2인</option>-->
<!--                                <option value="three">3인</option>-->
<!--                                <option value="four">4인</option>-->
<!--                                <option value="etc">기타</option>-->
<!--                            </select>-->
<!--                        </form>-->
<!--                    </li>-->
                        <button type="submit">검색</button>
                </form>
            </li>
        </ul>
</div>


<div class="card-container">
    <div class="card" th:each="stay : ${stays}">
        <a th:href="@{/stays/{id}(id=${stay.stay_id})}">
<!--            <img class="image2" th:src="@{/images/신라스테이.webp}" ></a>-->
        <h2 th:text="${stay.name}"></h2>
            <p th:text="${stay.staySellStatus}"></p>
        <p th:text="${stay.category}"></p>
        <p th:text="${stay.address}"></p>
        <a th:href="@{/stays/{id}(id=${stay.stay_id})}"><b>상세보기</b></a>
        </a>
        </div>
</div>


<!--페이징 처리-->
<!--<div th:if="${!stays.isEmpty()}">-->
<!--    <ul class="pagination justify-content-center">-->
<!--        <li class="page-item" th:classappend="${!stays.hasPrevious} ? 'disabled'">-->
<!--&lt;!&ndash;            <a class="page-link" th:href="@{|?category=${param.category}&address=${param.address}&page=${stays.number-1}|}">&ndash;&gt;-->
<!--            <a class="page-link" th:href="@{|?page=${stays.number-1}|}">-->
<!--                <span>이전</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li th:each="page: ${#numbers.sequence(0, stays.totalPages-1)}"-->
<!--            th:if="${page >= stays.number-5 and page <= stays.number+5}"-->
<!--            th:classappend="${page == stays.number} ? 'active'"-->
<!--            class="page-item">-->
<!--&lt;!&ndash;            <a th:text="${page+1}" class="page-link" th:href="@{|${currentUrl}(page=${page})|}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a th:text="${page+1}" class="page-link" th:href="@{|?category=${param.category}&address=${param.address}&page=${page}|}"></a>&ndash;&gt;-->
<!--            <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${!stays.hasNext} ? 'disabled'">-->
<!--            <a class="page-link" th:href="@{|?page=${stays.number+1}|}">-->
<!--                <span>다음</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<script src="/js/stay.js"></script>
</body>
</html>